<footer class="footer-section">


  <!-- Footer Top Section -->
  <div class="footer-top-section">
      <!-- Footer Top Section Container -->
      <div class="footer-top-section-container">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">


                  <!-- col-md-4 -->
                  <div class="col-md-4">


                      <!-- Widget Block ( Text ) -->
                      <div class="widget-block widget-block-text">
                          <!-- Widget Block Container -->
                          <div class="widget-block-container">


                              <!-- Widget Block Title -->
                              <div class="widget-block-title">
                                  <h6>About us</h6>
                              </div><!-- /End Widget Block Title -->


                              <!-- Widget Block Body -->
                              <div class="widget-block-body">

                                  <p>Donec pulvinar quam dolor, vitae ligulas elite pretium. Phasellus vitae turpis vel. Commod ullamcorper facilisis. Volutpat eu nisi sed ac orci nulla. Vitae ligula felis et quam.</p>

                                  <p>Integer a fringilla augue, sit amet efficitur arcu. Nullam in odio posuere magna id, consectetur ipsum.</p>

                              </div><!-- /End Widget Block Body -->


                          </div><!-- /End Widget Block Container -->
                      </div><!-- /End Widget Block ( Text ) -->


                  </div><!-- /End col-md-4 -->


                  <!-- col-md-4 -->
                  <div class="col-md-4">


                      <!-- Widget Block ( Text ) -->
                      <div class="widget-block widget-block-text">
                          <!-- Widget Block Container -->
                          <div class="widget-block-container">


                              <!-- Widget Block Title -->
                              <div class="widget-block-title">
                                  <h6>Reach us</h6>
                              </div><!-- /End Widget Block Title -->


                              <!-- Widget Block Body -->
                              <div class="widget-block-body">

                                  <strong>Email:</strong>
                                  <p><a href="mailto:support@example.com" title="Support">support@example.com</a></p>

                                  <strong>Phone:</strong>
                                  <p><a href="tel:+11234567890" title="+1 123 456-7890">+1 123 456-7890</a></p>

                                  <strong>Location:</strong>
                                  <p>6 rue Saint-Martin, 12345 Paris, France</p>

                              </div><!-- /End Widget Block Body -->


                          </div><!-- /End Widget Block Container -->
                      </div><!-- /End Widget Block ( Text ) -->


                  </div><!-- /End col-md-4 -->


                  <!-- col-md-4 -->
                  <div class="col-md-4">


                      <!-- Widget Block ( Twitter ) -->
                      <div class="widget-block widget-block-twitter">
                          <!-- Widget Block Container -->
                          <div class="widget-block-container">


                              <!-- Widget Block Title -->
                              <div class="widget-block-title">
                                  <h6>LATEST TWEETS</h6>
                              </div><!-- /End Widget Block Title -->


                              <!-- Widget Block Body -->
                              <div class="widget-block-body">

                                  <!-- Twitter Feed Block -->
                                  <div class="twitter-feed-block" data-twitter-username="graphicfort" data-twitter-feed-count="2">
                                  </div><!-- /End Twitter Feed Block -->

                              </div><!-- /End Widget Block Body -->


                          </div><!-- /End Widget Block Container -->
                      </div><!-- /End Widget Block ( Twitter ) -->


                  </div><!-- /End col-md-4 -->


              </div><!-- /End row -->
          </div><!-- /End container -->
      </div><!-- /End Footer Top Section Container -->
  </div><!-- /End Footer Top Section -->


  <!-- Footer copyright Section -->
  <div class="footer-copyright-section">
      <!-- Footer copyright Section Container -->
      <div class="footer-copyright-section-container">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">


                  <!-- copyright Widget ( Left ) -->
                  <div class="copyright-widget widget-left-side">
                      <!-- copyright Widget Container -->
                      <div class="copyright-widget-container">


                          <!-- Info Block -->
                          <div class="info-block">
                              <!-- Info Block Container -->
                              <div class="info-block-container">

                                  <p>&copy; 2017 <a href="http://themeforest.net/user/graphicfort/portfolio?ref=GraphicFort" title="Graphicfort" target="_blank">Graphicfort</a>, all rights reserved.</p>

                              </div><!-- /End Info Block Container -->
                          </div><!-- /End Info Block -->


                      </div><!-- /End copyright Widget Container -->
                  </div><!-- /End copyright Widget ( Left ) -->


                  <!-- copyright Widget ( Right ) -->
                  <div class="copyright-widget widget-right-side">
                      <!-- copyright Widget Container -->
                      <div class="copyright-widget-container">

                          <!-- Social Icons Block ( small ) -->
                          <div class="social-icons-block icons-transparent icons-sm icons-style-1">
                              <ul>

                                  <li>
                                      <a href="#" title="Facebook">
                                          <i class="fa fa-facebook" aria-hidden="true"></i>
                                          <i class="fa fa-facebook" aria-hidden="true"></i>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#" title="Google Plus">
                                          <i class="fa fa-google-plus" aria-hidden="true"></i>
                                          <i class="fa fa-google-plus" aria-hidden="true"></i>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#" title="Twitter">
                                          <i class="fa fa-twitter" aria-hidden="true"></i>
                                          <i class="fa fa-twitter" aria-hidden="true"></i>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#" title="youtube">
                                          <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                          <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#" title="Behance">
                                          <i class="fa fa-behance" aria-hidden="true"></i>
                                          <i class="fa fa-behance" aria-hidden="true"></i>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#" title="Pinterest">
                                          <i class="fa fa-pinterest" aria-hidden="true"></i>
                                          <i class="fa fa-pinterest" aria-hidden="true"></i>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#" title="Dribbble">
                                          <i class="fa fa-dribbble" aria-hidden="true"></i>
                                          <i class="fa fa-dribbble" aria-hidden="true"></i>
                                      </a>
                                  </li>

                              </ul>
                          </div><!-- /End Social Icons Block ( small ) -->

                      </div><!-- /End copyright Widget Container -->
                  </div><!-- /End copyright Widget ( Right ) -->


              </div><!-- /End row -->
          </div><!-- /End container -->
      </div><!-- /End Footer copyright Section Container -->
  </div><!-- /End Footer copyright Section -->


</footer>